on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib:/system/lib/egl
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    export TMPDIR /data/local/tmp

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache
    #mkdir /efs
    mkdir /tmp
    mkdir /dbdata

    mkdir /mnt 0775 root root
    mkdir /tmp

    mkdir /data/fota 0771 system system    
    mkdir /preinstall 0771 system system    

    # This may have been created by the recovery system with odd permissions
    chown system system /cache/recovery
    chmod 0770 /cache/recovery

on early-fs
    mount tmpfs nodev /tmp


    insmod /lib/modules/param.ko
    insmod /lib/modules/dpram.ko
    insmod /lib/modules/dpram_recovery.ko

    #temp
    chown root root /sbin/fat.format
    chmod 750 /sbin/fat.format

on fs
    mount tmpfs tmpfs /tmp
    exec apply_disk_policy

on post-fs


    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0
	
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service console /bin/sh
    console

service recovery /sbin/recovery


service adbd /sbin/adbd recovery
    disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
